.content-section {
  background-color: #f9fcfd;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: solid 1px black;
  
}
table thead{
  background-color: #255f96;
  color: white;
}

table th,td{
  padding: 4px;
  border: solid 1px black;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;

}

button{
  background-color: #8d9791;
  margin-top: 20px;
  height: 30px;
  
}

.report-result {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.report-result h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2C3E50; 
}

.report-result p {
  font-size: 16px;
  color: black;
}

form {
  display: flex; 
  flex-direction: column; 
  gap: 20px;
  margin-top: 20px;
  color: black;
  width: 100%; 
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%; /* Ajusta el ancho de los inputs */
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px; /* Unifica el estilo con bordes redondeados */
  font-size: 16px;
  background-color: transparent;
  transition: border-color 0.3s ease;
  width: 100%; /* Ocupa el 100% del contenedor */
}

.form-group select:focus,
.form-group input:focus {
  border: 2px solid #5DADE2;
}

#reporte{
  background-color: #255f96;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer; 
}
#reporte:hover{
  background-color: #103f6b;
}

#pdf{
  background-color: #2a4e728f;
  width: 120px;
  border-radius: 10px;
  border: none;
  color: white;

}
#pdf:hover{
  background-color: #3b4a588f;
   cursor: pointer;
}
#eliminar{
  background-color: #be0303fa;
  width: 80px;
  border-radius: 8px;
  border: none;
  color: white;
  margin-top: 2px;

}
#eliminar:hover{
  background-color: #920303fd;
  cursor: pointer;
}
#guardar{
  background-color: #255f96;
  width: 120px;
  border-radius: 8px;
  border: none;
  color: white;
  margin-top: 2px;
}
#guardar:hover{
  background-color: #123e68;
  cursor: pointer;
}
#editar{
  background-color: #255f96;
  width: 80px;
  border-radius: 8px;
  border: none;
  color: white;
  margin-top: 2px;
}
#editar:hover{
  background-color: #0d3458;
  cursor: pointer;
}
#acciones{
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 100%;

}

#acciones button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px; 
  min-width: 80px;
  height: 30px; 
}
td#acciones {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 5px; 
}
table td {
  height: 100%; 
  vertical-align: middle; 
}