.formulario_content {
  background-color: #f7fafa21;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2px; 
  width: 80%;
  height: 80px;
}

.formulario_inve {
  display: flex;
  justify-content: center;
  color: black;
}

h2 {
  text-align: center;
  color: #333; 
}

.formulario_content label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formulario_content input,
.formulario_content select,
.formulario_content textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#btn_inventario {
  background-color: #255f96;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn_inventario:hover {
  background-color: #284f73;
}

