/*Azul Oscuro (#34495E) 
Gris Plateado (#BDC3C7)  
Blanco Humo (#F5F5F5) 
Azul Celeste (#5DADE2) 
Amarillo Dorado (#F4D03F) – 
Rojo Coral (#E74C3C) – */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: "Arial", sans-serif;
  background-color: #F5F5F5;
  color: #2C3E50;
  height: 100%;
  width: 100%;
}


/* Responsive */
@media (max-width: 868px) {
  .sidebar {
    width: 100px;
  }

  .main-content {
    padding: 20px;
  }

  header h1 {
    font-size: 28px;
  }

  header p {
    font-size: 16px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
